<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{name_page}}</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <a href="{% url 'index' %}"><li>Главная</li></a>
                <a href="{% url 'about' %}"><li>О нас</li></a>
                <li>Новости</li>
                <li>Контакы</li>
            </ul>
            <h1>{{name_page}}</h1>
        </nav>
    </header>

    <h1>{{title}}</h1>
    <p>{{description}}</p>
    

    <a href="https://www.instagram.com/">Instagram</a>

    <br>
    {% for student in students %}
    <p>{{student.full_name}}</p>
    <p>{{student.age}}</p>
    <p>{{student.hobby}}</p>
    {% endfor %}
</body>
</html>